<div class="vh-75 d-flex justify-content-center align-items-center">
  <div *ngIf="!isSuccessForm"
       class="main-form wow bounceInUp container p-sm-3 p-1 mx-auto d-flex flex-column justify-content-center align-items-center gap-4">
    <h3 class="main-form-title fw-bold">Сделать заказ</h3>
    <form class="col-md-6 col-10" [formGroup]="buyTeaForm">
      <div class="col-sm col-12 mb-3">
        <label for="product" class="form-label col-2" id="form-product">Товар</label>
        <input type="text" class="form-input form-control" id="product" formControlName="product"
               [class]="{'border-danger': product?.invalid && (product?.dirty || product?.touched)}">
      </div>
      <div class="mb-3 row-cols-md row-cols-sm row">
        <div class="col-sm col-12 mb-3">
          <label for="name" class="form-label col-2" id="form-name">Имя</label>
          <input type="text" class="form-input form-control" id="name" formControlName="name"
                 [class]="{'border-danger': name?.invalid && (name?.dirty || name?.touched)}">
        </div>
        <div class="col-sm col-12 mb-3">
          <label for="surname" class="form-label col-2" id="form-surname">Фамилия</label>
          <input type="text" class="form-input form-control" id="surname" formControlName="last_name"
                 [class]="{'border-danger': lastName?.invalid && (lastName?.dirty || lastName?.touched)}">
        </div>
        <div class="col-sm col-12">
          <label for="telephone" class="form-label" id="form-telephone">Телефон</label>
          <input type="text" class="form-input form-control" id="telephone" formControlName="phone"
                 [class]="{'border-danger': phone?.invalid && (phone?.dirty || phone?.touched)}">
        </div>
      </div>
      <div class="row-cols-md row-cols-sm row">
        <div class="mb-3 col-sm col-12">
          <label for="country" class="form-label col-2" id="form-country">Страна</label>
          <input type="text" class="form-input form-control" id="country" formControlName="country"
                 [class]="{'border-danger': country?.invalid && (country?.dirty || country?.touched)}">
        </div>
        <div class="mb-3 col-sm col-12">
          <label for="index" class="form-label col-2" id="form-index">Индекс</label>
          <input type="text" class="form-input form-control" id="index" maxlength="6" formControlName="zip"
                 [class]="{'border-danger': zip?.invalid && (zip?.dirty || zip?.touched)}">
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="address" class="form-label col-2" id="form-address">Адрес</label>
          <input type="text" class="form-input form-control" id="address" formControlName="address"
                 [class.border-danger]="address?.invalid && (address?.dirty || address?.touched)">
        </div>
      </div>
      <div class="col-sm col-12 mb-3">
        <label for="comment" class="form-label col-4" id="form-comment">Комментарий к заказу</label>
        <input type="text" class="form-input form-control" id="comment" formControlName="comment"
               [class]="{'border-danger': comment?.invalid && (comment?.dirty || comment?.touched)}">
      </div>
      <div class="row">
        <div class="my-3">
          <button
            (click)="sendOrder()"
            type="submit"
            class="submit-form btn btn-primary col-xl-3 col-lg-3 col-sm-4 col-12 hvr-sweep-to-right border-0"
            [class.disabled]="isDisabledButton"
          >
            Отправить
          </button>
          <div *ngIf="dangerTextForm" class="d-inline-block mx-3">
            <p class="text-danger">Произошла ошибка. Попробуйте еще раз</p>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="vh-100 d-flex justify-content-center align-items-center" *ngIf="isSuccessForm">
    <h1 class="text-center">Спасибо за заказ!</h1>
  </div>
</div>

