<div *ngIf="product$ | async as product" class="container">
  <h1 class="text-center mt-5">{{product?.title}}</h1>
  <div class="d-flex justify-content-center align-items-center flex-row w-100 gap-4">
    <div class="product-item-image-container">
      <img src="{{product?.image}}" alt="tea-{{product?.id}}" class="product-item-image">
    </div>

    <div>
      <p class="fs-6">{{product?.description}}</p>
      <div class="fs-3">Цена: {{product?.price | currency:'RUB' : 'symbol-narrow'}}</div>
      <button type="button" class="btn btn-primary mt-3" (click)="toOrderPage(product)">Купить</button>
    </div>
  </div>
</div>
