<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/main'" routerLinkActive="active">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/catalog'" (click)="searchProduct()" routerLinkActive="active">Каталог</a>
        </li>
      </ul>
      <div class="d-flex gap-2">
        <div class="position-relative">
          <input class="form-control me-2" placeholder="Поиск чая" #searchInputElement (keyup)="searchInputElement.value">
          <button *ngIf="searchInputElement.value" class="btn text-danger position-absolute top-0" style="right: 0" (click)="searchProduct(); searchInputElement.value = ''">x</button>
        </div>
        <a class="btn btn-outline-primary" type="button" [routerLink]="'/catalog'" (click)="searchProduct(searchInputElement.value)">Найти</a>
      </div>
    </div>
  </div>
</nav>
